/target
target/
target
/__pycache__
__pycache__/
__pycache__
# These assets are downloaded by "build.py"
# and should not be checked in to source control
3rdparty/

.gradle
gradle/
gradlew
gradlew.bat

# Ignore output from documentation build
/docs/build/

secrets.env



