
# Responsible for pulling changes to a directory,
# building loci, and using webpage_update_tool.py
# to build a local directory of installer files.

# To install first make sure dependencies are installed
# (git, python)
# and copy this file to /etc/systemd/system/loci-web-deploy.service
# Then replace:
#   GIT_AUTH_TOKEN with the github auth token for your account w/ pull permisisons
# Then run:
#   sudo systemctl daemon-reload
#   sudo systemctl enable --now loci-web-deploy


[Unit]
Description=Pulls and builds loci from github

[Service]
User=root
Group=nobody
# Type=simple
Type=oneshot
Environment="REPO_URL=https://GIT_AUTH_TOKEN@github.com/Jeffrey-P-McAteer/loci.git"
Environment="REPO_CWD=/opt/loci"
ExecStart=-/usr/bin/bash -c 'mkdir -p $REPO_CWD'
ExecStart=/usr/bin/bash -c 'chown -R nobody:nobody $REPO_CWD'
ExecStart=/usr/bin/sudo -u nobody --preserve-env bash -c 'if ! [ -e $REPO_CWD/.git ] ; then git clone "$REPO_URL" $REPO_CWD ; else cd $REPO_CWD ; git pull ; fi'
ExecStart=/usr/bin/sudo -u nobody --preserve-env HOME=/nobody python /opt/loci/misc-res/loci-web-deploy.py

# Restart=always
# RestartSec=90

[Install]
WantedBy=multi-user.target

